.gabutton{
	padding:4px 3%;
}

.note{
	display: block;
	padding:20px;
	margin:20px;
	width:80%;
	height:150px; 
	font:17px 'Gloria Hallelujah', cursive;
	line-height:1em;
	border:0;
	border-radius:3px;
	background: -webkit-linear-gradient(#FFF6E5, #FFECC9);
	background: -moz-linear-gradient(#FFF6E5, #FFECC9);
	background: -o-linear-gradient(#FFF6E5, #FFECC9);
	background: -ms-linear-gradient(#FFF6E5, #FFECC9);
	background: linear-gradient(#FFF6E5, #FFECC9);
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	overflow:hidden;
	transition:box-shadow 0.5s ease;
	font-smoothing:subpixel-antialiased;
}

.note ul{
	font:13px 'Gloria Hallelujah', cursive;
	list-style-type: square;
	margin-left:10px;
}

div.note:hover{ box-shadow:0 6px 9px rgba(0,0,0,0.15); }
div.note:focus{ box-shadow:0 6px 12px rgba(0,0,0,0.2); outline:none; }